<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		{% block head %}{% endblock %}
	</head>
	<body>
    {% for flashType, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div id="alert" class="bg-{% if flashType is same as('ss') %}green{% elseif flashType is same as('wa') %}yellow{% elseif flashType is same as('error') %}red{% else %}blue{% endif %}-500 text-white font-bold px-4 py-2 mb-2 rounded">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

		{{ include('includes/navbar.html.twig') }}
		{% block content %}{% endblock %}
		{% if app.user %}
			{{ include('login/modal.html.twig') }}
		{% endif %}
	</body>
	{% if app.user %}
		<script>
			$(document).ready(function () {

    $('.checkremove').click(function () {
        var url = $(this).data('url');
        $('#urlInput').val(url);
        $('#authentication-modal').toggleClass('hidden');
        $('#authentication-modal').toggleClass('flex');
    });
    $('#check').submit(function (e) {
        e.preventDefault();
        var url = $('#urlInput').val();
        var email = $('#emailInput').val();
        var password = $('#passwordInput').val();

        $.ajax({
            url: '/check',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(
                {email: email, password: password, path: url}
            ),
            success: function (response) {
            if(response.result){
                window.location.reload();
            }else{
                alert('Error datos no.');
            }
            },
            error: function () {
                alert('Error during the check.');
            }
            });
        });
    setTimeout(function () {
        $('#alert').toggleClass('hidden');
        
    },3000)
        
    });


		</script>
	{% endif %}
</html>
